{% extends 'base.html.twig' %}

{% block title %} {{ task.project.name }} - {{ task.name }} {% endblock %}

{% block body %}

<h1 class="p-2 text-center text-3xl italic underline font-bold">
    {{ task.project.name }}
</h1>

<div class="grid grid-cols-4">
    <div class="col-span-3">
        <div class="d-block drop-shadow-md m-3 p-3 shadow shadow-gray-400 rounded">
            <div class="flex grid-cols-2 gap-2">
                <h2 class="flex text-lg italic underline">{{ task.name }}</h2><span class="text-sm mt-1 mr-1 text-gray-400 align-baseline"> - Created by {{ task.author ? task.author.username : "Unknown" }}</span>
                <span class="grow text-right">
                    <span class="inline-block w-[110px] state state-{{ task.state.toString()|lower}} text-center">
                        {{ task.state.toString()}}
                    </span>
                </span>
            </div>
            <p class="ml-3 mt-3">{{ task.description }}</p>
        </div>

        {% for comment in task.comments %}
            <div class="ml-10 d-block drop-shadow-md m-3 p-2 shadow shadow-gray-400 rounded">
                <div class="grid grid-cols-2">
                    <p class="font-bold">
                        {{ comment.author ? comment.author.username : "Unknown" }}
                        <span class="text-sm mt-1 mr-1 text-gray-400 align-baseline font-normal"> 
                            on {{ comment.createdAt|date("F d, Y") }} at {{ comment.createdAt|date("H:i") }}
                            {% if comment.createdAt != comment.updatedAt %}
                                (edited on {{ comment.updatedAt|date("F d, Y") }} at {{ comment.updatedAt|date("H:i") }})
                            {% endif %}
                        </span>
                    </p>
                
                    <div class="grow grid-cols-3 text-right">
                        {% if app.user and app.user.username == comment.author.username %}
                            <a href="{{ path('app_comment_edit', {commentId: comment.id}) }}">
                                <button class="px-2 py-1 bg-orange-500 hover:bg-orange-600 text-white shadow shadow-gray-400 rounded">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                            </a>
                        {% endif %}
                    </div>
                </div>
                <p class="mt-3">{{ comment.content }}</p>
            </div>
        {% endfor %}


        {% if app.user %}
            <div class="mt-10 mx-10">
                {{ form_start(form) }}
                    {{ form_row(form.content, {
                        label: 'Comment'
                    }) }}

                    <div class="grid grid-cols-8">
                        <button type="submit" class="mt-4 col-start-8 bg-orange-500 hover:bg-orange-600 text-white rounded shadow p-4 block">Send</button>
                    </div>
                {{ form_end(form) }}
            </div>
        {% endif %}
    </div>

    <div class="d-block drop-shadow-md m-3 p-2 shadow shadow-gray-400 rounded">

        <div class="grow text-right">
            <a href="{{ path('app_project_show', { 'id': task.project.id }) }}" class="underline text-orange-500 hover:text-orange-600">Back</a>
        </div>

        <p class="mt-3 text-lg underline">Assigned users :</p>

        {% if task.assignedUsers is empty %}
            <p class="ml-3">No users assigned to this task.</p>
        {% else %}
            {% for assignedUser in task.AssignedUsers %}
                <p class="ml-3">- {{ assignedUser.username }}</p>
            {% endfor %}
        {% endif %}
        
            <div class="text-right mt-5">
                {% if is_granted("ROLE_PROJECT_MANAGER") %}
                    <a href="{{ path('app_task_edit', {id: task.id}) }}" class="inline">
                        <button class="px-2 py-1 bg-orange-500 hover:bg-orange-600 text-white shadow shadow-gray-400 rounded">
                            <i class="fa-solid fa-pen-to-square"></i> Edit task
                        </button>
                    </a>
                {% endif %}

                {% if is_granted("ROLE_PROJECT_MANAGER") %}
                    <button class="px-2 py-1 bg-red-500 hover:bg-red-600 text-white shadow shadow-gray-400 rounded" onclick="event.preventDefault(); confirm('Are you sure ?') && document.getElementById('js-task-delete-form').submit();">
                        <i class="fa-solid fa-trash"></i> Delete task
                    </button>
                    <form id="js-task-delete-form" action="{{ path('app_task_delete', {id: task.id}) }}" method="POST" style="display: none">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('task_delete_' ~ task.id) }}" />
                    </form>
                {% endif %}
            </div>
    </div>

</div>


{% endblock %}
