{% extends 'base.html.twig' %}

{% block title 'Project #' %}

{% block body %}

<div>
    <h1 class="p-2 text-center text-3xl italic underline font-bold">
        {{ project.name }}
    </h1>

    <p>
        {{ project.presentation }}
    </p>

    {% for task in project.tasks %}
        <a href="{{ path('app_task_show', {'taskId': task.id}) }}">
            <div class="d-block drop-shadow-md m-3 p-2 shadow shadow-gray-400 rounded">
                <div class="flex grid-cols-2 gap-2">
                    <h2 class="flex text-lg italic underline">{{ task.name }}</h2>
                    <span class="text-sm mt-1 mr-1 text-gray-400 align-baseline"> 
                        - Created by {{ task.author ? task.author.username : "Unknown" }} 
                        on {{ task.createdAt|date("F d, Y") }}
                        {% if task.createdAt|date("F d, Y") != task.updatedAt|date("F d, Y") %}
                            (edited on {{ task.updatedAt|date("F d, Y") }})
                        {% endif %}
                    </span>
                    <span class="grow text-right">
                        <span class="inline-block w-[110px] state state-{{ task.state.toString()|lower}} text-center">
                            {{ task.state.toString()}}
                        </span>
                    </span>
                </div>
                <p class="ml-3">{{ task.description }}</p>
            </div>
        </a>
    {% endfor %}

    <div class="text-right">
        <a href="{{ path('app_task_create', {'projectId': project.id }) }}" class="underline text-orange-500 hover:text-orange-600">
            + Add task
        </a>
    </div>
</div>

{% endblock %}
